[2020-04-06 14:05] raffaelespazzoli opened #8 "on AWS occasionally reserved IPs are selected"

[2020-04-06 14:16] rguilme1 opened #9 "Handling IP Addresses in-use in a CIDR configuration"
In the EgressIPAM CRD, please provide a way to list IP addresses for exclusion.  In AWS environment there are some IP addresses in our VPC that are used for other EC2 instances and ELBs.
This would allow us to exclude IP addresses that are not a part of the OpenShift cluster and avoid potential IP address collisions.

It would be even better if the operator could inquire with AWS to find available

[2020-04-06 16:27] #8 closed

[2020-04-07 04:49] #9 closed

[2020-04-07 22:26] raffaelespazzoli opened #12 "more validation needed on the project annotation for assigned IPs"
A signed badly composed annotation will affect the entire cluster.

[2020-04-07 22:27] raffaelespazzoli opened #13 "AWS IPs not cleaned when namespace is deleted"

[2020-04-08 12:35] raffaelespazzoli opened #14 "Failed to list *unstructured.Unstructured:"
this issues is related to https://github.com/operator-framework/operator-sdk/issues/2798

[2020-04-08 14:39] #12 closed

[2020-04-08 14:39] #14 closed

[2020-04-09 23:29] #13 closed

[2020-04-09 23:31] raffaelespazzoli opened #16 "index out of bound panic"
a panic error was reported, here is the full reconcile cycle log
[code]

[2020-04-10 05:40] #16 closed

[2020-04-10 13:24] raffaelespazzoli opened #18 "reduce the number of node and hostsubnet calls"
there should be a way to read all the nodes and hostsubnets at the beginning of the reconcile cycle and then reuse the information in all of the steps.

[2020-04-10 13:26] raffaelespazzoli opened #19 "investigate using bulk API for AWS operations"
sometimes AWS APIs supports bulk operations. This reduces the numbers of round trip calls and can help with API rate limit.

[2020-04-11 00:37] raffaelespazzoli opened #20 "add ability to discover internal loadbalancers"
internal load balancers can also consume IPs from an AZ subnet.
They should be self discovered.

[2020-04-11 02:22] raffaelespazzoli opened #21 "ip are not evenly assigned to nodes"
after some tests this was the assignment result
[code]
there should have been 6 nodes and IPs should have been evenly distributed

[2020-04-11 18:45] raffaelespazzoli opened #22 "operator does not wake up on node delete"

[2020-04-11 18:46] raffaelespazzoli opened #23 "when a namespace annotation is removed, operator should clean the corresponding netnamespace"

[2020-04-12 12:32] #18 closed

[2020-04-12 12:32] #19 closed

[2020-04-12 12:32] #21 closed

[2020-04-12 12:32] #22 closed

[2020-04-12 12:32] #23 closed

[2020-04-12 13:28] raffaelespazzoli commented on #20
this api call, with the correct filtering should provide the right list of consumed addresses:
`aws ec2 --region ${region} describe-network-interfaces | jq .`

[2020-04-13 18:24] raffaelespazzoli opened #25 "the lowest free ips should be assigned"
start from a clean situation:
1. create a bunch of namespaces.
2. remove the assigned ip from a namespace
3. the same set of ips should be reassigned.

[2020-04-13 22:23] raffaelespazzoli opened #27 "add support for Azure"

[2020-04-13 22:23] raffaelespazzoli opened #28 "add support for Google Cloud"

[2020-04-13 22:24] raffaelespazzoli opened #29 "add support for OpenStack"

[2020-04-13 22:24] raffaelespazzoli opened #30 "add support for vSphere"

[2020-04-13 23:34] #20 closed

[2020-04-29 11:13] klenkes74 opened #33 "Support for OCP 3.11"
Hi,

we need to implement a similar solution for OCP 3.11 - would you accept a branch for OCP3 as contribution or should we fork-and-run?

We would prefer to contribute to your operator.

bye,
   Roland Lichti (on behalf of the DB Systel GmbH)

[2020-04-29 12:29] raffaelespazzoli commented on #33
Hi Roland,
I would love such a contribution.
Let's discuss a design that would allow the same code to run on both clusters.

[2020-05-05 06:46] klenkes74 commented on #33
Hi Rafaele,
I think, the biggest change is in detecting the infrastructure. AWS handling is the same, OCP-EgressIP-handling should not be different.

Only reading the configuration during startup should differ (well I have to check the code - I will start today to analyse it. Would you prefer a branch or should the code for both versions should be in the operator and can be switched (or even autos

[2020-05-06 14:03] raffaelespazzoli commented on #33
@klenkes74 please write to me here: rspazzol@redhat.com
we could have a design session.

[2020-07-28 11:59] Boran opened #35 "OKD4 example: first usage"
I've just started playing with okd4 and came across this operator as the way to do egress Ips.

I created the egressip-ipam-operator project and deployed using the "Deploying directly with manifests" method from the README.

Also created the example-egressipam instance of EgressIPAM, which I understand is used by the egressip-ipam-operator pod to define what Ips are managed.

When Starting egressi

[2020-07-28 12:15] raffaelespazzoli commented on #35
I haven't tested OKD, it's weird that they don't have those objects. They are integral part of the OCP SDN, make sure it's deployed.
There is nothing I can do about it, if those CRDs are not deployed or used by OKD.

[2020-07-28 14:26] Boran commented on #35
Yes you are right, on openshift4 they exist. Must be missing something in OKD4.
So testing on ocs4 then.
The example example-egressipam is also applied in the egressip-ipam-operator namespace?

Starts ok:
{"level":"info","ts":1595945699.6692455,"logger":"egressipam-controller","msg":"Reconciling EgressIPAM","Request.Namespace":"","Request.Name":"example-egressipam"}

In your example-egressipam exa

[2020-07-28 14:53] raffaelespazzoli commented on #35
`In your example-egressipam example, "reservedIPs" is to stop certains IPS witing the CIDR being used, i.e. they would be manually assigned with egressip-ipam-operator.redhat-cop.io/egressips to a namespace?`

no the idea is that those IPs are reserved for other Machines in the same subnet/CIDR.

the nodes managed by an EgressIPAM CR depends on the labelSelector you define. The topology label inst

[2020-08-03 05:35] sabre1041 opened #36 "Specify Red Hat Community of Practice in CSV"
To align the CoP operators, update the `provider` field in the CSV to the following:

[code]

[2020-09-29 15:34] denisj07 commented on #30
I've just created a small PR #37 that treats vSphere like baremetal. Seems like nothing else is needed in order to run the operator on vSphere.

[2020-10-07 12:45] #30 closed

[2020-10-16 13:39] #25 closed

[2020-10-16 13:41] raffaelespazzoli commented on #33
closing this. The decision was to start a new operator the a complete new codebase to support 3.x. This codebase will not support 3.x as of now.

[2020-10-16 13:41] #33 closed

[2020-10-16 13:41] raffaelespazzoli commented on #35
@Boran can I close this?

[2020-10-20 14:18] Boran commented on #35
Yes, thanks.

[2020-10-20 14:18] #35 closed

[2020-10-21 20:14] motaparthipavankumar commented on #36
Looks like this is already taken care by in this [PR](https://github.com/redhat-cop/egressip-ipam-operator/pull/41/commits/76fc281f1cb351b2c500cca9b2c531be463282d3).

[2020-10-21 20:30] rguilme1 opened #43 "aws IP address assignment collides with AWS resources allocated on the subnet"
With the dynamic creation of Elastic Load Balancer and other resources where IP addresses are assigned by AWS from the subnet, it can cause issues when new projects are created that request egress ips from the egressip-ipam-operator.   The reservedIPs list is not sufficient in this case as new resources can be created at any time.

Would like the operator to dynamically check for IP addresses in u

[2020-10-21 20:37] raffaelespazzoli commented on #43
The operator should already be doing that. Are you seeing that it doesn't
work for you

On Wed, Oct 21, 2020, 4:30 PM rguilme1 <notifications@github.com> wrote:

[2020-10-21 21:13] sabre1041 commented on #36
@raffaelespazzoli good to close this?

[2020-10-21 23:01] #36 closed

[2020-10-25 14:36] klenkes74 commented on #43
It could be a race condition between collecting the cloud provider data and assigning the ips. Should happen real seldom but can happen.

[2020-10-26 14:22] raffaelespazzoli opened #46 "refactor to easily add a new cloud provider"
a cloud provider interface should be identified so to facilitate adding a new cloud provider.

[2020-12-24 15:24] raffaelespazzoli opened #47 "changes in node labels should trigger a reconcyle cycle"
from preliminary testing it looks like this does not happen.

[2020-12-29 11:42] #43 closed

[2020-12-31 06:40] #47 closed

[2021-01-06 21:45] #46 closed

[2021-01-08 21:23] #27 closed

[2021-01-18 10:57] wouter2397 opened #51 "Question: Egress IPAM operator within Azure"
Hello,

First of all I would like to thank you for adding Azure support to this operator. We have had plans for quite some time to implement this but had to wait for Azure support.

In the documentation the following is present:

Can you share a bit more information on what's ment by 'the default vnet'?
Within our OpenShift setup we use seperate vnets for our master and worker vm's.
So our vnet na

[2021-01-18 12:16] raffaelespazzoli commented on #51
I think you are interpreting it correctly, right now only vanilla IPI is supported. I'd like to improve support but I need better requirements as I don't fully understand Azure network model.
So I assume you do UPI, can you explain you network settings and how you intend to use EgressIPs?

[2021-01-18 12:35] wouter2397 commented on #51
We deploy OpenShift using IPI.

Our install-config.yaml consists of the following:
[code]

Our `controlPlaneSubnet `and `computeSubnet `are different, so we can manage them independently.
Does this mean we can just use the vnet we provide in the `controlPlaneSubnet` field?

[2021-01-18 12:51] raffaelespazzoli commented on #51
ok, so `<infra-id>-vnet` is the name you get by default. Right now it's hard-coded, but I can look at finding a way to discover it.
Can you share an example of an Infrastructure object and a MachineSet object from one of your cluster created that way?

[2021-01-18 13:24] wouter2397 commented on #51
It would be really great if you can discover those settings.
I removed all information that is sensitive or related to our organization.
Hopefully you have all the information you need.
If not please let me know.

Based on the MachineSet config from our cluster, I think the following parameters a relevant:
[code]

Below the full configs

**Infrastructure**:
[code]

**MachineSet:**
[code]

[2021-01-18 13:29] raffaelespazzoli commented on #51
I need to understand the data model and you have removed the data so, no I don't have the information I need.
I need to see how the install-config, Infrastructure and MachineSet into relate to each-others.

[2021-01-18 20:14] raffaelespazzoli commented on #51
please see here: https://github.com/redhat-cop/egressip-ipam-operator/pull/52 and if you can test it in your environment.

[2021-01-18 21:19] #51 closed

[2021-01-20 21:43] amelie1979 opened #53 "add support for OVN on Azure"
We would like to support the egressIP on Azure with the OVNKubernetes plugin

[2021-01-21 00:59] raffaelespazzoli commented on #53
OVN should be supported in general for all currently supported infrastructures.

[2021-01-24 03:34] raffaelespazzoli opened #56 "optimize number of ip allocated by instance capacity"
for AWS, the table is here:
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#AvailableIpPerENI

for azure the maximum is: 250

for baremetal there is not technical limit, so a very high number would do.

use an knapsack algorithm to solve this, this one seems good:
https://github.com/hzysmail/multiple-knapsack-problem/tree/master/knapsack

[2021-02-18 10:05] mr-sab opened #57 "Ipam operator not working on azure"
Hallo,

We are trying to the get the ipam operator up and running on azure but this is not working.
OpenShift version 4.6.15 manged install using version 1.0 of the operator
After installing and loading in the config the pod crashes.

Logs after the crash, I can mail you the full logs and config if you like.
If you need anymore information feel free to let me know.

[code]

[2021-02-18 13:16] raffaelespazzoli commented on #57
line 219 is this:
[code]
the only way it can generate a null pointer is if these subnet ip configurations do not have a private address. Is that possible?
Can you share a snapshot of the subnets ip configurations in your environment?

[2021-02-18 14:14] amelie1979 commented on #57
@mr-sab did you use IPI or UPI to install the cluster, did you use vNet customization or Existing group ? Can you share you vnet/subnet name you are trying to add the egress IP on ?

[2021-02-18 14:51] mr-sab commented on #57
We installed IPI for installation with a existing group.  The name of the vnet is "ocp-servicemesh-it-weu-vnet" 10.0.0.0/16
We are tring to hand out ip's in the "ocp-servicemesh-it-weu-worker-subnet" 10.0.0.32/27  subnet. Those are all private ip's.

@raffaelespazzoli I am not sure if this is the information that you are looking for, if not than please let me know what you ment with the subnets ip

[2021-02-18 15:05] amelie1979 commented on #57
@mr-sab I think its because the operator is expecting a naming convention, since you install on an existing vnet, unless the CR support custom vnet name as a parameter, not sur it will work...I will let @raffaelespazzoli look into it.

[2021-02-18 15:10] raffaelespazzoli commented on #57
@mr-sab  if you can share the json format of this view
![image](https://user-images.githubusercontent.com/6179036/108376818-5ef2b500-71d1-11eb-9c10-5ed13934c5bb.png)my hypothesis is that one of your connected device does not have a private IP. That's the only way I can see that line of code failing. Perhaps a condition check that should be in the code, but first I would like to understand what you

[2021-02-18 15:11] raffaelespazzoli commented on #57
@amelie1979 the vnet name is taken from the machineconfig, so it should be correct.

[2021-02-18 16:36] mr-sab commented on #57
![image](https://user-images.githubusercontent.com/61287007/108388909-69cc3a80-720f-11eb-8d3f-2d3bde0902b8.png)

That is actually the case, in our test environment we make use of bastionhosts. So I can't delete it and test it because than I don't have access to the cluster anymore...

[2021-02-18 16:41] raffaelespazzoli commented on #57
@mr-sab thanks for confirming. I didn't anticipate this situation. Hold on for a fix.

[2021-02-18 16:59] raffaelespazzoli commented on #57
here is a fix:
https://github.com/raffaelespazzoli/egressip-ipam-operator/tree/fix%2357
I don't currently have an azure cluster to test it. @mr-sab or @amelie1979 would you be able to run a test?

[2021-02-18 17:42] mr-sab commented on #57
Wow that is quickly, I will test your fix tomorrow morning and let you know. Thanks!

[2021-02-19 08:56] mr-sab commented on #57
It looks like it getting a little bit further in the code but is still caches.
Please see the logs files below.

[ipam operator pod log #57.txt](https://github.com/redhat-cop/egressip-ipam-operator/files/6008708/ipam.operator.pod.log.57.txt)

[2021-02-19 11:26] raffaelespazzoli commented on #57
I fixed that issue please try again.
I expect you to see another error as that issue was about not being able to
print an error message.

On Fri, Feb 19, 2021 at 3:56 AM Bas Steenbergen <notifications@github.com>
wrote:

--
ciao/bye
Raffaele

[2021-02-22 08:26] mr-sab commented on #57
Oke we have run it again with the new commit, please see the log file below.
[ipam operator pod log #57 #2.txt](https://github.com/redhat-cop/egressip-ipam-operator/files/6020542/ipam.operator.pod.log.57.2.txt)

[2021-02-22 13:09] raffaelespazzoli commented on #57
for some reason the system thinks that there are no nodes in the 10.0.0.32/27 CIDR. Can you paste your egress ipam CR and the CIDR of the vnet your are working on?

[2021-02-22 13:35] mr-sab commented on #57
Our adres space in Azure of the whole virtual network is 10.0.0.0/16 we use 10.0.0.32/27 for the workers.
Is this the information that you were looking for?

ocp-servicemesh-it-weu-worker-subnet  10.0.0.32/27 (22 available)

[code]

[2021-02-22 13:57] raffaelespazzoli commented on #57
what do you get if you run
[code]
I'm assuming you'll get an empty list.
You probably need to change to `labelValue: ''`

[2021-02-22 16:01] mr-sab commented on #57
Sorry, yes that was the case, I change it and ran it again. Now it was unable to find the NIC. I have checked in azure and the NIC is there.
Please see the log file below.

[ipam operator pod log #57 #3.txt](https://github.com/redhat-cop/egressip-ipam-operator/files/6023233/ipam.operator.pod.log.57.3.txt)

[2021-02-22 17:01] raffaelespazzoli commented on #57
ok, let's see, take this worker node `servicemesh-q7f8n-worker-westeurope1-zxspz`. the operator calculated the its primary network interface should be: `/subscriptions/5b65bd51-55f2-4996-b02d-bcfa63eca075/resourceGroups/servicemesh-q7f8n-rg/providers/Microsoft.Network/networkInterfaces/servicemesh-q7f8n-worker-westeurope1-zxspz-nic` . it looks good to me but then the operator gets a 404.
What is t

[2021-02-23 09:19] mr-sab commented on #57
The vnet for the worker is "ocp-servicemesh-it-weu-vnet" that is placed inside the resource group "ocp-servicemesh-it-weu-rg".
In this resource group are the bastion hosts but not the cluster.

The OCP cluster is in the resource group "servicemesh-q7f8n-rg" but is using the the vnet "ocp-servicemesh-it-weu-vnet". So the NIC of the nodes are in a other resource group than the vnet is.

The resource

[2021-02-23 14:44] mr-sab commented on #57
We created the vnet in another resource group because we get a IP range for our azure team and we create subnets for master workers and infra nodes. We do this so we don't have to recreated the configuration on a redeployment of a cluster. The Azure cloud resources are managed by an other team in our organization.

we use the IPI installation method.

[2021-02-23 14:49] raffaelespazzoli commented on #57
the problem here is to determine how to discover the correct vnet in your cluster and then decide whether we want to use that approach in general for the operator.
can you attach the following yaml files:
1. infrastructure
2. a node and a machine from the masters
3. a node and a machine from the workers

[2021-02-23 16:11] mr-sab commented on #57
I have send you the file though a email.

[2021-02-24 20:20] raffaelespazzoli commented on #57
added a patch for the latest issue, please try again.

On Tue, Feb 23, 2021 at 11:12 AM Bas Steenbergen <notifications@github.com>
wrote:

--
ciao/bye
Raffaele

[2021-02-25 07:57] mr-sab commented on #57
Thank you, I have tried it again please see the logfile.
[ipam operator pod log #57 #5.txt](https://github.com/redhat-cop/egressip-ipam-operator/files/6041360/ipam.operator.pod.log.57.5.txt)

[2021-02-25 13:42] raffaelespazzoli commented on #57
please try again, sometimes it's hard to count up to 4 :)

[2021-02-25 16:06] mr-sab commented on #57
haha, sorry not working.
Please see the log file.
[ipam operator pod log #57 #6.txt](https://github.com/redhat-cop/egressip-ipam-operator/files/6044220/ipam.operator.pod.log.57.6.txt)

[2021-02-25 16:44] raffaelespazzoli commented on #57
this is progress, before it was failing on the reads, now its failing on the writes. Please try again.

[2021-02-26 08:54] mr-sab commented on #57
Yes this is progress, we are moving forward!
It now fails on the moment I created a new namespace with the annotation "egressip-ipam-operator.redhat-cop.io/egressipam:  egressipam-azure"
Please see the log file below.

[ipam operator pod log #57 #7.txt](https://github.com/redhat-cop/egressip-ipam-operator/files/6048478/ipam.operator.pod.log.57.7.txt)

[2021-02-26 13:18] raffaelespazzoli commented on #57
@mr-sab as you can see the new error is: `OutboundRuleCannotBeUsedWithBackendAddressPoolThatIsReferencedBySecondaryIpConfigs` I have no idea what it means. I can tell you though that the ipconfig for the secondary ip on the primary nic referencing the egressip is currently created with the same config as the primary ip, with the only the ip being different.
It would probably helped if you tried to

[2021-02-26 18:01] amelie1979 commented on #57
@ms-sab, did you install your cluster platform.azure.outboundType : UserDefinedRouting ?

Can you share with us your install-config.yaml, that will help me understand your deployment. (Infra)

[2021-02-27 13:36] raffaelespazzoli commented on #57
@mr-sab I think we have fixed the initial issue and we are probably seeing something different now.  I think other user would benefit from this fixes. so I am going to release this fix and close this issue. Please open another regarding the `OutboundRuleCannotBeUsedWithBackendAddressPoolThatIsReferencedBySecondaryIpConfigs` error.

[2021-02-27 13:54] #57 closed

[2021-03-01 09:37] mr-sab opened #61 "Azure unable to add IP to worker"
We tried to create the IP address on the worker by hand and that went with success, please see the settings that I used in the screenshot and the json from the azure portal.
[ipam operator pod log #57 #10.txt](https://github.com/redhat-cop/egressip-ipam-operator/files/6060556/ipam.operator.pod.log.57.10.txt)

![ipconfig worker1 ipam](https://user-images.githubusercontent.com/61287007/109477417-48b

[2021-03-01 12:39] raffaelespazzoli commented on #61
@mr-sab not sure what the second attachment was, but it wasn't the log of the operator. The secondary ip configuration is looks like what the operator would be creating. This is how a secondary ip is built:
[code]
in particular notice that the loadbalancerbackendaddresspools and the subnet are copied from the [0] address which is always the primary.

[2021-03-02 13:25] raffaelespazzoli commented on #61
@mr-sab any news on this one?

[2021-03-03 08:26] musghost commented on #61
Hi Raffael. I am college of @mr-sab.

We found out that Azure does not allow any secondary IP in the backendpool. We tried to add the IP address to the pool manually by using the portal and we got the very same error message `OutboundRuleCannotBeUsedWithBackendAddressPoolThatIsReferencedBySecondaryIpConfigs`. Perhaps that won't be possible. From the other hand we also saw this [piece of documentat

[2021-03-03 13:27] raffaelespazzoli commented on #61
@musghost `secondary IP addresses require nodes to have extra routing configuration to reach the Internet` due to my limited knowledge of Azure and lack of access to an Azure console, I don't understand that statement just by reading the linked doc, can you explain exactly what that means, and what actions need to be done and why under normal circumstances (vanilla IPI) that is not needed? With th

[2021-03-03 14:26] amelie1979 commented on #61
The official doc you follow, also stated that egressIP is not officially supported in Cloud.  (This is targeted to be support ~4.9, and maybe only on OVNKubernetes plugin).  COP (Community of Practice) has develop the IPAM operator to help maintaining IP and configuration, since its possible to make it worked.  This is not supported by RH support, since its community only.  That been said, it is p

[2021-03-03 14:47] musghost commented on #61
Hi @amelie1979 This is the install-config.yaml we used to create the cluster. We are using the default value for `outboundType`.

We tried to add the secondary IP with the steps that you have mentioned but we were not able to do it. I guess we are missing something. If you could create a cluster and recreate the issue it would be nice.

[code]

[2021-03-04 16:32] amelie1979 commented on #61
Here, the step I took and config.

1. Create the Azure vnet and subnet

2. Create Cluster  My Cluster config (install-config.yaml)
[code]
3. During my install (I did not do the private publish), so I had to associate my subnet with the NSG
4. Install egress IPAM Operator 1.0.2
5. Create my EgressIPAM object with a my subnet config

[code]
6. Create namespace with egressIP annotation
[code]
[code]

[2021-03-05 07:54] musghost commented on #61
Thanks for replicating the cluster. Did you add the ip-configuration and add the IP to the backend-pool manually or was that done by the operator automatically?

[2021-03-08 15:27] amelie1979 commented on #61
This is automatically done by the operator (adding the secondary IP to the primary Interface and the backed pool of the LoadBalancer). You can also add the secondary IP manually by clicking adding VM, then select the new IP.  But the operator does this, so you should not needing to do this.  Example with az cli (the operator is doing the same)
[code]

[2021-03-09 08:59] musghost commented on #61
We tried the operator in another different cluster and everything worked as expected. The IP address was assigned to the NIC and also to the backendpool as you mentioned above.
Nevetheless, we did not found any difference in the configuration of those clusters, besides the publish internal. We cannot find why it did not work on the first cluster.

[2021-03-09 13:13] raffaelespazzoli commented on #61
"besides the publish internal" could that be the difference that triggers
the behavior? Is this a question for Azure support maybe?

On Tue, Mar 9, 2021 at 4:00 AM Andrés Cidel <notifications@github.com>
wrote:

--
ciao/bye
Raffaele

[2021-03-10 14:47] musghost commented on #61
Hi Raffael,
That is correct. In the cluster where we got it working we did not use publish internal. I guess that could be the issue. Is there a way @amelie1979 could test the operator using the publish internal option?

[2021-03-16 23:46] tomasdedic opened #62 "reconciliation doesn't starts when namespace with egressIP deleted"
when deleting a namespace with egressIP defined, controller doesn't run reconciliation and IPs are not about to delete hostsubnets and VM.
[code]
[code]

[2021-03-17 00:24] raffaelespazzoli commented on #62
I thought we fixed this, which version of the operator are you using?

On Tue, Mar 16, 2021 at 7:46 PM didie ***@***.***> wrote:

--
ciao/bye
Raffaele

[2021-03-17 13:14] tomasdedic commented on #62
image source: quay.io/redhat-cop/egressip-ipam-operator:v1.0.2

[2021-03-17 13:36] raffaelespazzoli commented on #62
I have a possible fix here: https://github.com/raffaelespazzoli/egressip-ipam-operator/tree/fix%2362
would you be able to test it by running the developer instructions? (https://github.com/redhat-cop/egressip-ipam-operator#running-the-operator-locally)

[2021-03-17 13:47] tomasdedic commented on #62
I think I am able to build the image from this. Will let you know when I am done.

[2021-03-17 18:44] tomasdedic commented on #62
So ok I have built an image from your fix and under same tests it is working fine. Image is public available as quay.io/dedtom/egressip-ipam-operator:1.0.2-fix. Thx

[2021-03-17 19:38] #62 closed

[2021-03-26 13:00] raffaelespazzoli commented on #61
@musghost any news on this? Should we close this issue?

[2021-03-26 23:49] musghost commented on #61
No news at this moment. We should close this issue. Thanks.

[2021-03-27 00:37] #61 closed

[2021-04-13 21:20] xucaquinn opened #65 "IP Selection always increases and does not go back and use released IPs"
Scenario:
Create namespace001, which receives ip address 10.10.10.1
Create namespace002 which receives ip address 10.10.10.2
Delete namespace001 which releases ip address 10.10.10.1
Create namespace003 which receives ip address 10.10.10.3

It appears as though egressipam operator does not reclaim released IP addresses which will result in the need for custom ip management.

[2021-04-14 12:05] raffaelespazzoli commented on #65
what version and what infrastructure are you using?

[2021-04-14 20:30] xucaquinn commented on #65
Using version ARO 4.6

[2021-04-14 22:57] raffaelespazzoli commented on #65
in Azure a secondary ip to a NIC (which is what an egressip is) takes about
8 minutes to be deallocated and become available again.
so try rerun you test this way:

   - Create namespace001, which receives ip address 10.10.10.1
   - Create namespace002 which receives ip address 10.10.10.2
   - Delete namespace001 which releases ip address 10.10.10.1
   - Wait 15 minutes (just to be sure)
   - Crea

[2021-04-15 14:39] chrbac87 opened #66 "egressip-ipam-operator-controller-manager fails on OVN-Kubernetes"
Is OVN supported?

Error from pod during egressip-ipam-operator-controller-manager deployment after installing the operator:
`ERROR	setup	problem running manager	{"error": "no matches for kind \"HostSubnet\" in version \"network.openshift.io/v1\""}`

[2021-04-15 14:47] raffaelespazzoli commented on #66
OVN is not supported and we have no plans at this point to do. The idea was to see how that feature was shaping up before committing time to it. Contributions would be welcome.

[2021-04-15 15:07] #66 closed

[2021-04-15 18:56] xucaquinn commented on #65
Raffaele,
You are right - I tested it out and yes it does reclaim the IPs if I wait long enough.  Thank You!!
I will close out the bug

[2021-04-15 18:56] #65 closed

[2021-04-22 10:53] yeneryumlu opened #68 "Openshift in disconnected network installation support"
We are using Openshift in disconnected network and using OLM on restricted network as explained in the following documentation.
https://docs.openshift.com/container-platform/4.6/operators/admin/olm-restricted-networks.html

egress-ipam-operator does not work on this restricted network topology. Is it possible to add support for this situation?

[2021-04-22 11:58] raffaelespazzoli commented on #68
we are thinking about it, we don't have an ETA as of now. I'd recommend using the help based installation for disconnected environment where you can control the image you use.

[2021-04-23 10:37] yeneryumlu commented on #68
We used helm to install the operator and it worked.
thank you all for the code.

[2021-05-28 19:46] ctrought opened #69 "Nodes are not assigned egress IPs when using multiple CIDRs"
I am having issues with when using multiple CIDRs

OpenShifts docs say that

When I create one CIDR, the operator assigns one IP as expected to a given namespace. The IP address is made available on a node that matches the given selectors for the CIDR.

When I create two CIDR's, the operator assigns two IP addresses as expected to a given namespace. The IP addresses are not made available on any n

[2021-05-29 22:21] raffaelespazzoli commented on #69
can I see your EgressIPAM configuration and node labeling scheme?

[2021-05-31 02:09] ctrought commented on #69
[code]

Please ignore the logs from above, below are logs based on spec above. From the logs it looks like it assigns the ip's to the nodes, but as you can see from the hostsubnet no egress ip's are assigned to any nodes. The result is hung outbound network traffic from `mynamespace`. Thanks for taking a look

[code]

[code]

[2021-05-31 11:12] raffaelespazzoli commented on #69
what infrastructure are you running on? can you share the result of
`oc  get infrastructure cluster -o yaml`
it looks like someone or something has assigned CIDRs rather than EgressIPs to the nodes. This should happen when you run on something that is not AWS or Azure. The assignments seem correct, did you do it or did the operator do it?
can you also share
`oc get netnamespace` you should see the

[2021-05-31 17:25] ctrought commented on #69
On prem (bare metal)

[code]

My understanding was I should see an egress IP assigned to the node (in addition to CIDR) which is the behaviour seen when using a single CIDR (see output at end)

[code]

IP's are correctly assigned to the namespace. No outbound network traffic works though. If I remove 1 of the CIDR's from the operator CR then outbound network traffic starts flowing again through th

[2021-05-31 18:06] raffaelespazzoli commented on #69
ok, thanks. For your information, when using baremetal this operator does not assign egressIPs to nodes, OpenShift should do that. In this case this operator assigns EgressIPs to namespaces and CIDRs to nodes.
If you create the CR without any namespace using the egressIP, you should see the CIDRs being assigned to the nodes.
The logs might be misleading as you see all the reasoning the operator do

[2021-05-31 18:19] ctrought commented on #69
Thank you @raffaelespazzoli. I will try manually and update you, if needed I'll open a case with RH.

[2021-06-04 06:51] thomasGusenleitner opened #71 "Usage of different container regsitries for the same Image"
Hi,

the source of the kube-rbac-proxy sidecar image is not consistent.

config/default/manager_auth_proxy_patch.yaml  --> gcr.io/kubebuilder/kube-rbac-proxy:v0.5.0
config/helmchart/templates/manager.yaml --> quay.io/coreos/kube-rbac-proxy:v0.5.0

Unfortunately gcr.io is not allowed in my environment and the switch to gcr.io has blocked the operatore update to version 1.0.7

it would be great if i

[2021-06-04 12:26] raffaelespazzoli commented on #71
yes, I agree.
@trevorbox any comments?

[2021-06-04 14:27] trevorbox commented on #71
Looks like this is the default created when the operator-sdk originally initialized the project.

For example...

[code]

Makes sense to me to make this quay.io instead for consistency.

[2021-06-04 18:15] trevorbox commented on #71
@raffaelespazzoli it seems that quay.io/coreos/kube-rbac-proxy:v0.5.0 is the latest but the upstream project
https://github.com/brancz/kube-rbac-proxy provides newer versions in quay.io/brancz/kube-rbac-proxy
We could try quay.io/brancz/kube-rbac-proxy:v0.8.0 to match what the operator-sdk v1.5.0 defaults to.

[2021-06-10 22:38] trevorbox commented on #71
@sabre1041 - I tested _quay.io/openshift/origin-kube-rbac-proxy:latest_. Appears to work.
For now we will use _quay.io/coreos/kube-rbac-proxy:v0.5.0_ until we decide on more up-to-date approach.

[2021-06-10 22:55] sabre1041 commented on #71
That sounds like a good approach until we determine the longterm solution

[2021-06-11 15:43] sabre1041 commented on #71
@thomasGusenleitner new version of the operator has been released and should be available

[2021-06-21 20:00] raffaelespazzoli commented on #69
may I close this?

[2021-06-21 20:00] #71 closed

[2021-06-25 13:46] trevorbox commented on #71
There is a registry.redhat.io/openshift4/ose-kube-rbac-proxy image but that would require authentication.

[2021-06-25 13:47] trevorbox commented on #71
@raffaelespazzoli can we reopen this issue to track final solution?

[2021-06-28 23:36] paulczar opened #74 "unable to assign IP to worker nodes in private ARO cluster"
I'm seeing the same errors as #61 trying to use the operator with an ARO cluster.  Operator v 1.0.8,  OpenShift/ARO version 4.6.26.

The Operator error logs are at end of bug report.

I've seen several hints at this error that say its an issue with outbound NAT rules not allowing address pools to contain machines with secondary IP like [this](https://feedback.azure.com/forums/34192--general-feedba

[2021-06-29 01:22] raffaelespazzoli commented on #74
@***@***.*** ***@***.***> have you ever solved this issue?

On Mon, Jun 28, 2021 at 7:37 PM Paul Czarkowski ***@***.***>
wrote:

--
ciao/bye
Raffaele

[2021-06-29 18:54] paulczar commented on #74
Based on the installer it appears that `Publish` is set to `private` because I set `--apiserver-visibility Private --ingress-visibility Private`   in the ARO cli.  [here](https://github.com/Azure/ARO-RP/blob/d333c9691bd8b7bf8d4505e6ba142a3e2986d5e7/pkg/cluster/generateconfig.go#L190-L202)

and the `OutboundType` is set to `LoadBalancer` which is also what the Operator seems to want.   [here](https

[2021-06-30 12:46] raffaelespazzoli commented on #74
adding @sabre1041

@paulczar I am not too familiar with Azure/ARO. Two questions:
1. what should the operator do instead to make ARO (or perhaps more accurately a deployment with internal ingress work)?
2. how can I discover whether the cluster uses internal or external ingress?

[2021-06-30 14:02] paulczar commented on #74
1.

[code]

the two Private settings ensure that the LB for api/ingress is internal only.   There end up being two LBs, a private one with the api/ingress to the workers, and a public one that provides just NAT egress to the cluster.

2. I would guess querying the az aro cli or api to ask ?  I'm not sure if its obvious from inside the cluster (and I don't have one deployed right now to verify ).

[2021-06-30 14:51] raffaelespazzoli commented on #74
for #1, you didn't answer the question. The question was, given that the operator gets and error when using internal load balancer, how should it create the secondary IPs not to create that error? This is how it's created now: https://github.com/redhat-cop/egressip-ipam-operator/blob/eb87f26d84dde1824a52b286015be9454ee6e862/controllers/egressipam/azure/azure.go#L464

[2021-06-30 21:37] paulczar commented on #74
After more digging and speaking to folks, I don't think this is a problem for the operator to solve, but instead for ARO to support user defined egress.

Here's an /unsupported/ workaround that enables the Operator to work by disconnecting the egress LB.

https://gist.github.com/paulczar/e5e5d8d61f4fe5e741cae66fe271a1cd

[2021-06-30 21:37] #74 closed

[2021-07-02 09:26] itmwiw opened #75 "AWS max limit"
Hello,
Is there a way to prevent egress Ips from being created on netnamespaces when the aws secondary Ip addresses limit is reached.
Right now, the egress Ips are created on the nernamespaces no matter what. Only hostsubnet are affected by AWS response. So when the AWS limit is reached, the egress Ips are created on the netnamesapces but not on the hostsubnet which causes the traffic to be droppe

[2021-07-02 12:05] raffaelespazzoli commented on #75
the behavior you describe is correct and by design. The egreesIP to namespace assignment is conceptually separated from the egressIP to node assignment phase. This is needed for two reasons:
1. to prevent namespace-assigned egressIP shuffling. Once an egressIP is assigned to a namespace the expectation is that the namespace tenant will use it to create firewall rules and possibly other configurati

[2021-08-04 23:52] cloudxabide opened #77 "AWS CLI commands should include "--output json" if output is redirected"
This is situational and dependent on user's AWS config values.
For example:  I use
[code]

and this command will fail
[code]

I recommend you add "--output json" to your command (similar to the oc commands being used
[code]

[2021-08-13 07:11] snorwin commented on #69
@raffaelespazzoli this is still an issue. I was able to reproduce it using OpenShift 4.6.16 with OpenShift SDN on baremetal.

I was checking the documentation (https://docs.openshift.com/container-platform/4.7/networking/openshift_sdn/assigning-egress-ips.html) and only a single egress IP address per namespace is supported when using the automatic assignment mode where a CIDR is assigned to the no

[2021-08-13 13:35] raffaelespazzoli commented on #69
So you are creating two cidr, but your nodes actually belong to the same subnet which you are artificially subdividing. then when it's time assign cidrs to nodes OCP does not know what to do because for OCP all nodes are in the same network... Is that a good summary of the problem?
Why do you need two CIDRs when you have a single network?

[2021-08-13 14:21] snorwin commented on #69
We run an OpenShift cluster spread over two location. In each location there is a subnet used for EgressIP with special router nodes in that subnet. In case of site failure it could be that only one master node survived which would cause etcd to be in read only mode. Therefore it is important that each namespace already have two EgressIPs assigned, one of each site's subnet.

The issue we encounte

[2021-08-17 15:08] #69 closed

[2021-08-17 16:45] raffaelespazzoli commented on #68
closed by #79

[2021-08-17 16:45] #68 closed

[2021-08-19 15:17] ctrought commented on #66
Hi @raffaelespazzoli, is this still the case? I read here https://github.com/redhat-cop/egressip-ipam-operator/issues/53 that OVN should be supported, but above comment which is newer leaves me a bit confused as to whether egress ipam operator supports both SDN and OVN clusters or only SDN. Seeing as OVN is the new default as of 4.8 (i think) it would be great to have OVN support if it is not alre

[2021-08-19 16:15] raffaelespazzoli commented on #66
I'm still in wait and see mode. What I don't understand is how the egressip feature works in the cloud. Do you know?

[2021-08-19 16:31] ctrought commented on #66
Ok thank you. Yeah I am not too sure about that either. Currently we are leveraging egress for on-prem bare metal installs (platform: none).

[2021-09-29 13:06] raffaelespazzoli commented on #28
fixed by #82

[2021-09-29 13:07] #75 closed

[2021-12-02 19:10] aelbarkani commented on #66
any update on having this operator work for OVN ?

[2021-12-17 19:29] paulczar opened #86 "In Azure (ARO) the egress-IPs are added to the backend pool of the ingress load balancer which causes intermittant failures"
You can see the two Egress IPs created for namespaces as the bottom two addresses.

![Screenshot 2021-12-17 132713](https://user-images.githubusercontent.com/2488346/146597567-0cd32ce3-1c9c-4211-8335-188e360d6418.png)

When I curl the openshift console I get intermittent failures, if I remove the namespaces (and thus the egress ips) they disappear from the LB backend pool and all connections work.

[2021-12-17 19:57] raffaelespazzoli commented on #86
egress IPs are indeed added to the backend pool (https://github.com/redhat-cop/egressip-ipam-operator/blob/448cd8982f0ed98dc3d628d0d806ec0b320fc722/controllers/egressipam/azure/azure.go#L471). Apparently without that setting the outbound traffic is not routed correctly. I frankly never understood why. I considered it to be an Azure quirk.
Is there a better way to do this configuration?

[2021-12-17 19:58] raffaelespazzoli commented on #86
@amelie1979  any comment on the above?

[2021-12-17 20:51] paulczar commented on #86
Ahh okay, I think I know what's going on then!

By default ARO has an outbound-rule-v4 attached to the LB that allows traffic out.   However this causes issues with egressip-ipam-operator because a LB can't have outbound rules for backend hosts with more than one IP (see #74).

To use the operator, the ARO admin has to delete this outbound rule and provide an alternative route out (usually via a f

[2022-01-04 14:53] paulczar commented on #86
@amelie1979 @raffaelespazzoli Any thoughts on the best way to progress this issue ? I believe this is a blocker for any ARO users.

[2022-01-04 15:05] raffaelespazzoli commented on #86
so, usually this is a two phase process:
1. understanding what the configuration should look like in OCP/Azure.
2. design how to automate that configuration via the operator.
I don't understand #1. Let me try to take a stab at it. The way the operator works today is fine for IPI, but it may not work for another types of Azure deployment. The egress load balancer should can be different.
Is this di

[2022-01-04 20:39] paulczar commented on #86
@raffaelespazzoli I believe your correct, unfortunately I don't know enough about the underlying architecture choice differences betwen OCP IPI and ARO, but ARO creates two LBs, one for ingress, one for egress to which each new interface is added.   With a customer providing a custom route the egress is not needed, and in both cases the ingress is.  I am thinking our best option here might actuall

[2022-01-05 22:47] paulczar commented on #86
I rebuild the Operator without line 471 and it works for an ARO cluster with egress lockdown without causing the intermittant ingress failures.

[2022-01-06 12:56] raffaelespazzoli commented on #86
ok, so perhaps we could add an annotation specifying whether the IPConfiguration should be initialized with the egress load balancer... But Is till think we should understand what the correct design should be for Azure.

[2022-01-06 14:31] paulczar commented on #86
I can confirm that our custom has updated their deployment to use my modification and are happy with the results, so its now officially tested in production :)

I agree it would be great to get someone to provide specific details on the correct design for OSD on Azure and if its different to ARO, the same for ARO.

[2022-01-06 14:41] raffaelespazzoli commented on #86
wonderful, I'm working on getting some expert eyes on this.

[2022-01-06 15:08] paulczar commented on #86
Looking at this previous issue #61 it appears that the install time configuration `publish: internal` might determine the OCP behavior here that exposes this bug/issue.

[code]

I wonder if we can look this up in the openshift config and use that to determine if we add the LB pools or not, if we can't get visibility to that config option, then an annotation would seem to be the way to go.

[2022-01-06 15:17] raffaelespazzoli commented on #86
@paulczar let's assume we can read the configuration, what would the rule be?
`publish: internal` -> don't add the egress load balancer to the IPConfiguration?

[2022-01-06 19:22] paulczar commented on #86
Further digging on both a private and public ARO cluster show the same behavior here (plus the same failures because of the backend pool for an outbound rule).  I don't have a non-ARO cluster to validate on.

I think your suggested rule would solve the problem for ARO, and likely for some OCP clusters that are created to be internal.

[2022-01-10 08:56] jwilms1971 opened #87 "Cloud credentials for AWS"
When I tried to deploy the EgressIPAM CRD to my ROSA STS cluster it yielded the following message

Secret "egress-ipam-operator-cloud-credentials" not found.

I then created a secret for an admin-privileged user as follows:

echo "aws_access_key_id = $AWS_ID\naws_secret_access_key = $AWS_KEY" \ > /tmp/credentials
oc -namespace egress-ipam-operator \
   create secret generic egress-ipam-operator-cl

[2022-01-10 13:34] raffaelespazzoli commented on #87
I believe you have to use the form:
oc create secret generic my-secret
--from-literal=aws_access_key_id=$AWS_ID
--from-literal=naws_secret_access_key=$AWS_KEY

On Mon, Jan 10, 2022, 3:56 AM Jeroen Wilms ***@***.***> wrote:

[2022-01-11 03:14] jwilms1971 commented on #87
Confirmed. Thanks.

[2022-01-11 13:17] #87 closed

[2022-01-22 01:59] #86 closed

[2022-02-22 15:41] zetamorph opened #90 "Allow AWS authentication via STS instead of requiring static credentials"
First of all, thanks for the work on this project!

I encountered the following problem:

Currently, the operator needs a k8s Secret with static AWS credentials (`access_key_id` and `secret_access_key`) to work. This makes it hard or even impossible to use the operator in an environment where static cloud provider credentials are discouraged / forbidden.

Feature proposal:

Allow the operator to a

[2022-02-23 00:57] raffaelespazzoli commented on #90
it sounds like a good idea. A contribution on this would be welcome.

[2022-07-04 13:23] zetamorph opened #91 "AWS: Only subnets referenced by tags are taken into account when determining already used IPs"
Hi,

I ran into the following issue regarding the AWS controller:

When determining which IPs are already assigned, the operator retrieves the `AWSMachineProviderConfig` to look up the relevant subnets:

https://github.com/redhat-cop/egressip-ipam-operator/blob/2b6acd0f4bedec893dea271d4e6471dcc1582200/controllers/egressipam/aws/aws.go#L294

`AWSMachineProviderConfig` references subnets by one of [

[2022-07-25 14:47] #91 closed